@import "tailwindcss";

:root {
  --background: #ffffff;
}

@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/CeraPro-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/CeraPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("/fonts/CeraPro-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "NewYork";
  src: url("/fonts/NewYork.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Cera Pro", sans-serif;
}

.ceraPro {
  font-family: "Cera Pro", sans-serif;
}

.newYork {
  font-family: "NewYork", sans-serif;
}
.servicetexture {
  background-image: url("../public/images/ServiceTexture.webp");
  background-size: cover;
}
.footertexture {
  background-image: url("../public/images/FooterTexture.png");
  background-size: cover;
}

.navtexture {
  background-image: url("../public/images/NavbarTexture.webp");
  background-size: cover;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}